.header-image{
    width:100%;
}

.notes{
    font-family: 'Poppins', sans-serif;
}

.notes:hover, .save:hover{
    color: darkorange;
}

textarea{
    white-space: pre-wrap;
}

label[for="saved-switch"]{
    color: white;
}

.fa-trash:hover{
    color:red;
    cursor: pointer;
}